{% extends "editorials/base.html"%}
{% load static %}
{% block mainContent %}

<div class="main-inner-wrap">
    <div class="content section" id="content">
        <div class="widget Blog" data-version="1" id="Blog1">
            <div class="blog-posts hfeed">
                <div class="date-outer">
                    <div class="date-posts">
                        <div class="post-outer">
                            <div class="post hentry uncustomized-post-template">
                                <h1 class="post-title entry-title" itemprop="name headline">
                                    {{ edtObj.title }}
                                </h1>
                                <div class="title-secondary mb-2">
                                    {% if edtObj.author %}

                                    <span itemprop="name" class="mr-1"><i class="fa fa-user"></i>&nbsp;{{ edtObj.author }}</span>
                                    &nbsp;
                                    {% endif %}


                                        <span itemprop="datePublished" title="{{ edtObj.published_date }}" class="mr-1">
                                            <i class="fa fa-calendar"></i>&nbsp;{{ edtObj.published_date|date:"M d, Y"}}</span>

                                     <span itemprop="newspaper">

                                        <span itemprop="newspaper" title="{{ edtObj.news_paper }}">
                                            <i class="fa fa-newspaper-o"></i>&nbsp;{{ edtObj.news_paper }}</span>
                                    </span>
                                </div>
                                <div class="post-header">
                                    <div class="mb-2">
                                        <h4>{{ edtObj.subtitle|safe }}</h4>
                                    </div>
                                </div>
                                
                                <div class="post-body entry-content">
                                    <div itemprop="description articleBody">
                                        {{ edtObj.content|safe }}
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- main-inner-wrap -->
{% endblock mainContent %}
