{% extends "editorials/base.html"%}
{% load static %}
{% block mainContent %}
<div class="col-md-8">
<form role="form" class="form-horizontal" id="login-form" method="post" action="{% url 'editorials-index:forgotpassword' %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="email" class="control-label">
            {{ form.email.label }}</label>

            {{ form.email }}
            <span class="text-danger small" id="fp_email_error"></span>
    </div>

    <input type="submit" value="Submit" />
</form>
</div>
{% endblock mainContent %}